# Auto detect text files and perform LF normalization
* text=auto

# Force LF line endings for all files
*.* text eol=lf

# Don't normalize line endings for binary files
*.{png,jpg,jpeg,gif,ico,svg,woff,woff2,ttf,eot} binary

# Don't normalize line endings for package files
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
